[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
numpy = "==1.23.0"
pandas = "==1.4.3"
scikit-learn = "==1.1.1"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.9"
